extends ../layout

block content
  .page-header
    h3 Inscription
  form.form-horizontal(id='signup-form', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group
      label.col-sm-3.control-label(for='email') Email
      .col-sm-7
        input.form-control(type='email', name='email', id='email', placeholder='Email', autofocus)
    .form-group
      label.col-sm-3.control-label(for='password') Mot de Passe
      .col-sm-7
        input.form-control(type='password', name='password', id='password', placeholder='Mot de Passe')
    .form-group
      label.col-sm-3.control-label(for='confirmPassword') Confirmer Mot de Passe
      .col-sm-7
        input.form-control(type='password', name='confirmPassword', id='confirmPassword', placeholder='Confirmer Mot de Passe')
    .form-group
      .col-sm-offset-3.col-sm-7
        button.btn.btn-success(type='submit')
          i.fa.fa-user-plus
          | S'inscrire
