footer
  .container.text-center
    p.pull-left © 2015 Smart Web
    ul.pull-right.list-inline
      li
        a(href='https://github.com/abdelbe') GitHub Ben ali abdel bacet
      li
        a(href='https://github.com/sahat/hackathon-starter/issues') 